USE [master]
GO
/****** Object:  Database [DoarChat]    Script Date: 03-Apr-26 8:44:28 AM ******/
CREATE DATABASE [DoarChat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoarChat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DoarChat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoarChat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DoarChat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoarChat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoarChat]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03-Apr-26 8:44:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Messages]    Script Date: 03-Apr-26 8:44:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [int] NOT NULL,
	[ReceiverUserId] [int] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[ViewedAt] [datetime2](7) NULL,
	[IsDeletedBySender] [bit] NOT NULL,
	[IsDeletedByReceiver] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Users]    Script Date: 03-Apr-26 8:44:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Admin')
GO
SET IDENTITY_INSERT [dbo].[T_Users] ON 

INSERT [dbo].[T_Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt], [DeletedAt]) VALUES (15, N'Israel Post', N'israelpost@gmail.com', N'AQAAAAIAAYagAAAAENvDWQU3gu+yclyeCU3+mm8AthV047oUz/7I+7v0wTA1wiLmNJfefU9vumekX8bXcg==', 1, CAST(N'2026-04-03T04:01:39.1126567' AS DateTime2), NULL)
INSERT [dbo].[T_Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt], [DeletedAt]) VALUES (16, N'Miri Tester', N'miri@gmail.com', N'AQAAAAIAAYagAAAAEIXvuO8Hv1TBDAaeCanqT2TJT9nAh9bWcHbDtYMI3DT81L9xWtjV9JJNaWcTq2zRJA==', 1, CAST(N'2026-04-03T04:02:06.3381251' AS DateTime2), NULL)
INSERT [dbo].[T_Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt], [DeletedAt]) VALUES (17, N'Dana Levi', N'dana@gmail.com', N'AQAAAAIAAYagAAAAEB2JlA8Vja44GkXKGBkGeaC8gcbpHMM3lvf+wVAiMVjP1R0EvF2i7XP5RHQ5mIrOYg==', 1, CAST(N'2026-04-03T04:02:25.1851543' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[T_Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534F9F35D8C]    Script Date: 03-Apr-26 8:44:29 AM ******/
ALTER TABLE [dbo].[T_Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Messages] ADD  DEFAULT (sysutcdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[T_Messages] ADD  DEFAULT ((0)) FOR [IsDeletedBySender]
GO
ALTER TABLE [dbo].[T_Messages] ADD  DEFAULT ((0)) FOR [IsDeletedByReceiver]
GO
ALTER TABLE [dbo].[T_Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[T_Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[T_Messages]  WITH CHECK ADD  CONSTRAINT [FK_T_Messages_ReceiverUser] FOREIGN KEY([ReceiverUserId])
REFERENCES [dbo].[T_Users] ([Id])
GO
ALTER TABLE [dbo].[T_Messages] CHECK CONSTRAINT [FK_T_Messages_ReceiverUser]
GO
ALTER TABLE [dbo].[T_Messages]  WITH CHECK ADD  CONSTRAINT [FK_T_Messages_SenderUser] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[T_Users] ([Id])
GO
ALTER TABLE [dbo].[T_Messages] CHECK CONSTRAINT [FK_T_Messages_SenderUser]
GO
USE [master]
GO
