.AppHome {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 0;
}

.UsersDrawer {
  .item {
    margin-bottom: $size-8;
    border-radius: $radius-md;
    box-shadow: $shadow-sm;
  }

  .item:last-child {
    margin-bottom: 0;
  }
}
