.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color-bg;

  .AppMain {
    flex: 1;
    position: relative;
    display: flex;
  }

  .Page {
    flex: 1;
    min-height: 0;
  }
}
